@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body, html
	font-size 16px

section
	padding-top 30px
	padding-bottom 30px

.u
	&__button
		box-shadow: 0 5px #158a72
		border-radius 5px
		background #00bc95
		border 0
		color white
		font-weight bold
		position relative
		&:hover
			border 0
			top 2px
			box-shadow: 0 3px #158a72
	&__mediaVideo
		max-width 70%
		margin 0 auto
		&--contenedor
			height 0
			overflow hidden
			padding-bottom 56.25%
			position relative
			iframe
				height 100%
				left 0
				position absolute
				top 0
				width 100%



.business
	display flex
	justify-content center
	align-items center
	flex-wrap wrap
	a
		display block
		margin 30px
		figure
			img
				// max-height 70px
				max-width 200px
		&:nth-child(2)
			figure
				img
					max-width 105px
		&:nth-child(3)
			figure
				img
					max-width 130px
		&:nth-child(5)
			figure
				img
					max-width 150px
.footer
	padding-top 0 !important
	margin-top 40px
	&-content
		padding 0 20px
	&-socials
		margin 0
		i
			color white
	.wrapper
		display flex
		justify-content center
		align-items center
		margin-bottom 25px
#history
	.imgP
		max-width 250px
		width 100%
		display block
		margin 15px auto
.navbar-custom .nav
	padding 0
.navbar-brand
	padding 0 !important
	img
		position relative
		top 5px
		width 98px
		@media screen and (max-width: 768px)
			width auto
			height 80%
			top 10%
			left 10%

.simulacrum
	img
		max-width 260px

.perducar
	// .gallery
	// 	background blue

	.services-item
		padding 20px 20px
		i
			color #555
	#store
		.caption
			h3
				// min-height 78px
				font-size 1.1em
				// text-align center
				margin-top 0
				padding 10px 0
			a
				display block
	.rslides
		border 2px solid #ddd !important
		width 100%

.perduacademy
	.navbar-brand img
		max-width 40px
		position relative
		top 7px
	// ul
	// 	padding 0
	// 	list-style none
	.products
		display flex
		align-items center
		flex-wrap wrap
		justify-content space-between
		padding 0 0%
		list-style none
		.line
			border-right 1px solid #c3bdbd
			min-height 350px
			width 1px
			@media screen and (max-width: 766px)
				display none
		&__wrapper
			width calc(47% - 2px)
			color white
			margin-bottom 10px
			position relative
			padding 10px
			text-align center
			&.left
				text-align left
			@media screen and (max-width: 766px)
				width 100%
			&:last-child
				width 100%
				background url('../images/clase-pers.jpg') center no-repeat
				padding 20px 30px
			.layer
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				background rgba(0,0,0,.5)
			.detail
				position relative
				z-index 2
			.text
				padding 20px 30px 25px
				margin-top 5px
			h3
				margin-top 0
				font-size 1.6em
				color #5d84e4
				font-family: 'Lato', sans-serif
				font-weight 900
				margin-bottom 20px
			p
				color white
			a
				margin-top 15px
				color white
				margin-left 8px
				@media screen and (max-width: 991px)
					width 100%

.rslides
	margin-left auto
	margin-right auto