@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body, html
	font-size 16px

.navbar-custom
	background rgba(84,195,237,.9)
section
	padding-top 30px
	padding-bottom 30px
nav.small
	background rgba(84,195,237,1)
.small .navbar-nav>li>a
	color white
.navbar-custom .navbar-nav>li>a
	color white
	font-weight bold

.title
	color #54c3ed
	font-size 1.9em

h4
	color #54c3ed
	font-weight bold
	font-size 1.2em
	margin-bottom 25px
.u
	&__button
		box-shadow: 0 5px #158a72
		border-radius 5px
		background #00bc95
		border 0
		color white
		font-weight bold
		position relative
		&:hover
			border 0
			top 2px
			box-shadow: 0 3px #158a72
	&__mediaVideo
		max-width 70%
		margin 0 auto
		&--contenedor
			height 0
			overflow hidden
			padding-bottom 56.25%
			position relative
			iframe
				height 100%
				left 0
				position absolute
				top 0
				width 100%
			img
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
				opacity: 0.3;


.business
	display flex
	justify-content center
	align-items center
	flex-wrap wrap
	a
		display block
		margin 30px
		figure
			img
				// max-height 70px
				max-width 200px
		&:nth-child(2)
			figure
				img
					max-width 105px
		&:nth-child(3)
			figure
				img
					max-width 130px
		&:nth-child(5)
			figure
				img
					max-width 150px
.footer
	padding-top 0 !important
	margin-top 40px
	&-content
		padding 0 20px
	&-socials
		margin 0
		i
			color white
	.wrapper
		display flex
		justify-content center
		align-items center
		margin-bottom 25px
#history
	.imgP
		max-width 250px
		width 100%
		display block
		margin 15px auto
.navbar-custom .nav
	padding 0
.navbar-brand
	padding 0 !important
	img
		position relative
		top 5px
		width 98px
		@media screen and (max-width: 768px)
			width auto
			height 80%
			top 10%
			left 10%

.simulacrum
	img
		max-width 260px

.perducar
	// .gallery
	// 	background blue

	.services-item
		padding 20px 20px
	#store
		.caption
			h3
				// min-height 78px
				font-size 20px
				text-align center
			a
				display block
				@extends .u__button
	.rslides
		border 2px solid #ddd !important
		width 100%
		margin 0 auto

.perduacademy
	ul
		padding 0
		list-style none
	.products
		display flex
		align-items center
		flex-wrap wrap
		justify-content space-between
		padding 0 0%
		&__wrapper
			border 1px solid #f3f3f3
			border-radius 6px
			width calc(50% - 6px)
			background #42485c
			color white
			margin-bottom 10px
			position relative
			&:last-child
				width 100%
				background url('../images/clase-pers.jpg') center no-repeat
				padding 20px 30px
			iframe
				background: url(../images/logo8.png)
			.layer
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				background rgba(0,0,0,.4)
			.detail
				position relative
				z-index 2
			.text
				padding 20px 30px 25px
				// display flex
				// justify-content space-between
			h3
				// font-family 'Kameron', serif
				margin-top 0
				font-size 1.1em
				color #f6d605
				font-family: 'Lato', sans-serif
				font-weight 900
			p
				color white
			a
				@extends .u__button
				margin-top 15px
				background #f6d605
				box-shadow 0 5px #a29014
				color #273755
				margin-left 8px
				&:hover
					box-shadow 0 3px #a29014